* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 33, 1) 48%,
    rgba(0, 212, 255, 1) 100%
  );
  color: #222222;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator-grid {
  display: grid;
  grid-template-columns: repeat(4, 7rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 5rem);
}
.span {
  grid-column: span 2;
}
.result {
  grid-column: 1/-1;
  background-color: hsl(21, 70%, 9%);
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0.5rem;
  word-wrap: break-word;
  word-break: break-all;
}
.first-num {
  color: white;
  opacity: 0.8;
  font-size: 1rem;
}
.active-num {
  color: white;
  font-size: 3rem;
}
button {
  cursor: pointer;
  font-size: 2rem;
  border: 2px solid yellow;
  background-color: aquamarine;
  color: black;
  opacity: 0.75;
}

button:hover,
button:focus {
  color: white;
  background-color: black;
}
